.multipage-controls-list #edit-actions {
  float: left; /* LTR */
  margin-right: 1em;
}

.multipage-button {
  margin-bottom: 1em;
  margin-top: 1em;
  float: left; /* LTR */
  line-height: 36px;
}

.multipage-button a {
  padding-top: 10px;
}

.multipage-counter {
  float: right; /* LTR */
  margin-right: 5px; /* LTR */
  height: 0;
  position: relative;
  top: 1.8em;
  font-weight: bold;
  color:#666;
}

a.multipage-link-previous {
  font-weight: bold;
  color:#666;
  transition: color 218ms;
}

a.multipage-link-previous:hover {
  text-decoration:none;
  color: #333;
}
